<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart of Accounts | Passenger Seat</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/tab_img.png') }}"/>
    <!-- CSS For Chart of Accounts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/accounts.css')}}">
    <!-- Global Fonts for the System -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>
    
        <main class="main-content">
            <div class="profile-section">
                <h3>Chart of Accounts</h3>
            </div>
            <!-- Your main content here -->
            <div class="container">
                <h1>GL Accounts</h1>
            
                <!-- Buttons for CRUD operations -->
                <div class="toolbar text-center mb-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newModal">New</button>
                    <button type="button" class="btn btn-primary disabled-edit" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                    <button type="button" class="btn btn-primary disabled-deactivate" data-bs-toggle="modal" data-bs-target="#deleteModal">Deactivate</button>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#filterModal">Filter</button>
                    
                </div>
            
                <!-- Modals -->
                <!-- New Account Modal -->
                <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="newModalLabel">New Account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="new-account-form">
                                    <div class="mb-3">
                                        <label for="new-account-no" class="form-label">Account Number</label>
                                        <input type="number" class="form-control" id="new-account-no" name="account_number" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="new-name" class="form-label">Account Name</label>
                                        <input type="text" class="form-control" id="new-name" name="account_name" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="new-type" class="form-label">Account Type</label>
                                        <select class="form-select select2" id="new-type" name="account_type" required>
                                            <option value="Asset">Asset</option>
                                            <option value="Liability">Liability</option>
                                            <option value="Equity">Equity</option>
                                            <option value="Revenue">Revenue</option>
                                            <option value="Expense">Expense</option>
                                        </select>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="save-new-btn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Edit Account Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Edit Account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="edit-account-form">
                                    <input type="hidden" id="edit-account-id" name="account_id">
                                    <div class="mb-3">
                                        <label for="edit-account-no" class="form-label">Account Number</label>
                                        <input type="number" class="form-control" id="edit-account-no" name="account_number">
                                    </div>
                                    <div class="mb-3">
                                        <label for="edit-name" class="form-label">Account Name</label>
                                        <input type="text" class="form-control" id="edit-name" name="account_name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="edit-type" class="form-label">Account Type</label>
                                        <select class="form-select select2" id="edit-type" name="account_type">
                                            <option value="Asset">Asset</option>
                                            <option value="Liability">Liability</option>
                                            <option value="Equity">Equity</option>
                                            <option value="Revenue">Revenue</option>
                                            <option value="Expense">Expense</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-warning" id="update-edit-btn">Update</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Delete Account Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Deactivate This Account?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            
                            <div class="modal-body">
                                <p>Are you sure you want to deactivate this Account?</p>
                                <input type="hidden" id="delete-entry-id">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="confirm-delete-btn">Deactivate</button>
                            </div>
                        </div>
                    </div>
                </div>          

                <!-- Filter Account Modal -->
                <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="filterModalLabel">Filter Accounts</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="filter-form">
                                    <div class="mb-3">
                                        <label for="filter-name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="filter-name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="filter-type" class="form-label">Type</label>
                                        <select class="form-select select2" id="filter-type">
                                            <option value="">All Types</option>
                                            <option value="Asset">Asset</option>
                                            <option value="Liability">Liability</option>
                                            <option value="Equity">Equity</option>
                                            <option value="Revenue">Revenue</option>
                                            <option value="Expense">Expense</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="filter-status" class="form-label">Deactivated?</label>
                                        <select class="form-select" id="filter-status">
                                            <option value="">All</option>
                                            <option value="Suspended">Yes</option>
                                            <option value="Non-suspended">No</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" id="reset-filter-btn">Reset</button>
                                <button type="button" class="btn btn-info" id="apply-filter-btn">Apply Filter</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Divider above the table -->
                   <div class="table-divider"></div>

                    <!-- Table to display GL accounts -->
                    <table id="accounts-table" class="table table">
                        <thead>
                            <tr class="text-center">
                                <th>Account Number</th>
                                <th>Account Name</th>
                                <th>Account Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in accounts %}
                                {% if account['account_status'] == 'active' or request.args.get('status') == 'Suspended' %}
                                    <tr class="account-row" onclick="selectRow(this)" data-id="{{ account['id'] }}" data-number="{{ account['account_number'] }}" data-name="{{ account['account_name'] }}" data-type="{{ account['account_type'] }}">
                                        <td>{{ account['account_number'] }}</td>
                                        <td>{{ account['account_name'] }}</td>
                                        <td>{{ account['account_type'] }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                     </table>

                    <!-- Divider below the table -->
                   <div class="table-divider"></div>
             
        </main>
    
    <!-- JavaScript for COA -->
    <script src="{{ url_for('static', filename='scripts/accounts.js')}}"></script>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
    $(document).ready(function () {
        $('.select2').select2({
            placeholder: "Select an option",  // You can customize the placeholder text
            allowClear: true  // This allows a clear button to clear the selection
        });
    });
    </script>
