<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Dashboard | Passenger Seat</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/tab_img.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contents.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="dashboard-container">
        <nav class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Passenger Seat Logo" srcset="img/logo-2x.png 2x, img/logo-3x.png 3x">
            </div>
            <ul class="menu">
                <li class="menu-item dropdown">
                    <a href="#" title="Dashboard" class="dropdown-toggle">
                        <i class="fas fa-tachometer-alt"></i>
                        <span class="text nav-text">Dashboard</span>
                        
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Revenue Tracking</a></li>
                        <li><a href="#">Expense Tracking</a></li>
                        <li><a href="#">Profit Tracking</a></li>
                    </ul>
                </li>
                
                <li class="menu-item">
                    <a href="{{ url_for('chart_of_accounts.display_chart_of_accounts') }}" title="Chart of Accounts"><i class="fas fa-chart-line"></i><span class="menu-text"></span>
                        <span class="text nav-text">Chart of Accounts</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="{{ url_for('journal_entries.journal_entry') }}" title="Journal Entry"><i class="fas fa-cash-register"></i><span class="menu-text"></span>
                        <span class="text nav-text">Journal Entry</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="#" title="Financial Report"><i class="fas fa-boxes"></i><span class="menu-text"></span>
                        <span class="text nav-text">Financial Report</span>
                    </a>
                </li>
                
                
                <li class="menu-item">
                    <a href="#" title="Analytics"><i class="fas fa-user-cog"></i><span class="menu-text"></span>
                        <span class="text nav-text">Analytics</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#" title="Settings"><i class="fas fa-cog"></i><span class="menu-text"></span>
                        <span class="text nav-text">Settings</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="#" title="Settings"><i class="fa-solid fa-right-from-bracket"></i></span>
                        <span class="text nav-text">Log-out</span>
                    </a>
                </li>
                
            </ul>
            
        </nav>
        <main class="main-content">
            <div class="profile-section">
                <h3>Finance Management Dashboard</h3>
            </div>
            <!-- Your main content here -->
               <div class="dashboardpt1">
                
                    <div class="card total-balance">
                    <h3>Total Income</h3>
                    <h1>₱432,568</h1>
                    <p>📈 2.47% Last month ₱24,478</p>
                </div>
                <div class="card total-period-change">
                    <h3>Total Expenses</h3>
                    <h1>₱245,860</h1>
                    <p>📈 2.47% Last month ₱24,478</p>
                </div>
                <div class="card total-period-expenses">
                    <h3>Cash at the End of the Month</h3>
                    <h1>₱25.35</h1>
                    <p>📉 2.47% Last month ₱24,478</p>
                </div>
                <div class="card total-period-income">
                    <h3>Net Profit</h3>
                    <h1>₱22.56</h1>
                    <p>📈 2.47% Last month ₱24,478</p>
                </div>
                <div class="card total-period-income">
                    <h3>Accounts Payable</h3>
                    <h1>₱22.56</h1>
                    <p>📈 2.47% Last month ₱24,478</p>
                </div>
                <div class="card total-period-income">
                    <h3>Accounts Receivable</h3>
                    <h1>₱22.56</h1>
                    <p>📈 2.47% Last month ₱24,478</p>
                </div>
            
             </div>

             <div class="dashboardpt2">
                 <!-- Income and Expenses Line Chart -->
                <div class="card wide">
                      <h3>Income and Expenses</h3>
                      <canvas id="incomeExpensesChart"></canvas>
                </div>

                 <!-- A donut chart for Net Profit Margin -->
                    <div class="card">
                        <h3>Net Profit Margin</h3>
                        <canvas id="netProfitMarginDonutChart"></canvas>
                    </div>
                    <!-- A chart for Income and Expense Budget -->
                    <div class="card">
                        <h3>% of Income Budget</h3>
                        <canvas id="incomeBudgetChart"></canvas>
                    </div>
                    
                    <div class="card">
                        <h3>% of Expenses Budget</h3>
                        <canvas id="expensesBudgetChart"></canvas>
                    </div>
             </div>
             
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='scripts/contents.js')}}"></script>

</body>

</html>
